{% extends 'base_cn.html' %}
{% load static %}
{% block content %}
  <main id="main">
   <!-- ======= About Us Section ======= -->
   <section class="breadcrumbs">
    <div class="container">
     <div class="d-flex justify-content-between align-items-center">
      <h2>
       企业信息
      </h2>
      <ol>
       <li>
        <a href="/cn/">
         首页
        </a>
       </li>
       <li>
        企业信息
       </li>
      </ol>
     </div>
    </div>
   </section>
   <!-- End About Us Section -->
   <!-- ======= About Section ======= -->
   <section class="about" data-aos="fade-up">
    <div class="container">
     <div class="row">
      <div class="col-lg-6">
       <img alt="" class="img-fluid" src="{% static 'assets/img/about.jpg' %}"/>
      </div>
      <div class="col-lg-6">
       <p>
        感谢您访问IntelligentBrain的网站。我们致力于为客户提供产品导入、系统开发和外包服务，不断努力和改进，以建立更牢固的关系，并追求进一步的发展。
       </p>
       <p>
        如今，全球新技术每天都在不断发展和进化。IntelligentBrain认识到优秀人才是公司发展的基础，为了提升个人和公司的竞争力和实力，我们专注于前沿技术领域，并努力培养优秀的技术人才。未来，我们将通过更好的IT服务为社会做出贡献。
       </p>
       <p>
        我们恳请您继续给予我们更多的理解和支持。
       </p>
       <p>
        -代表致辞　景山　伟亮
       </p>
      </div>
     </div>
    </div>
   </section>
   <!-- End About Section -->
   <!-- ======= About Section ======= -->
   <section class="about" data-aos="fade-up">
    <div class="container">
     <div class="row">
      <div class="col-lg-8 pt-4 pt-lg-0">
       <h2 style="color:#1e4356;text-align:center">
        <strong>
         intelligentbrain有限公司
        </strong>
       </h2>
       <ul>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         公司名称：intelligentbrain有限公司
         <br/>
         （英文名称： IntelligentBrain Co., Ltd ）
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         地址
         <br/>
         【总部】：练马区南大泉2−1−１４
         <br/>
         【事务所】：东京都千代田区平河町1-5-15　703号室
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         成立日期：2020年12月4日（令和2年）
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         注册资本：2000万日元
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         员工人数：35名
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         代表：景山　伟亮
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         合作银行：三菱UFJ银行（保谷支行）、Paypay银行
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         会计师：新都会计师事务所
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         客户：富士软件株式会社
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         株式会社Global Way
        </li>
        <li>
         <i class="bi bi-check2-circle">
         </i>
         Global Aspirations株式会社
        </li>
       </ul>
      </div>
     </div>
    </div>
   </section>
   <!-- End About Section -->
   <!-- ======= Facts Section ======= -->
   <section class="facts section-bg" data-aos="fade-up">
    <div class="container">
     <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
       <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="6" data-purecounter-start="0">
       </span>
       <p>
        客户
       </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
       <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="8" data-purecounter-start="0">
       </span>
       <p>
        项目
       </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
       <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="1463" data-purecounter-start="0">
       </span>
       <p>
        支持小时数
       </p>
      </div>
      <div class="col-lg-3 col-6 text-center">
       <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="10" data-purecounter-start="0">
       </span>
       <p>
        勤奋员工
       </p>
      </div>
     </div>
    </div>
   </section>
   <!-- End Facts Section -->
   <!-- ======= Our Skills Section ======= -->
   <section class="skills" data-aos="fade-up">
    <div class="container">
     <div class="section-title">
      <h2>
       员工技能
      </h2>
      <p>
       以Salesforce和AWS为基础，我们拥有一支经验丰富的产品开发团队。几乎所有员工都掌握了Java、Python等基础技能。我们积极制定技能培养计划，并持续推进。
      </p>
     </div>
     <div class="skills-content">
      <div class="progress">
       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" class="progress-bar bg-info" role="progressbar">
        <span class="skill">
         Java
         <i class="val">
          100%
         </i>
        </span>
       </div>
      </div>
      <div class="progress">
       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar bg-success" role="progressbar">
        <span class="skill">
         Salesforce
         <i class="val">
          80%
         </i>
        </span>
       </div>
      </div>
      <div class="progress">
       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" class="progress-bar bg-danger" role="progressbar">
        <span class="skill">
         HTML、CSS等
         <i class="val">
          55%
         </i>
        </span>
       </div>
      </div>
      <div class="progress">
       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar bg-info" role="progressbar">
        <span class="skill">
         AWS
         <i class="val">
          50%
         </i>
        </span>
       </div>
      </div>
      <div class="progress">
       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="45" class="progress-bar bg-info" role="progressbar">
        <span class="skill">
         Python
         <i class="val">
          45%
         </i>
        </span>
       </div>
      </div>
      <div class="progress">
       <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar bg-warning" role="progressbar">
        <span class="skill">
         Mulesoft
         <i class="val">
          40%
         </i>
        </span>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- End Our Skills Section -->
  </main>
  {% endblock %}