{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main id="main">
   <!-- ======= Blog Section ======= -->
   <section class="breadcrumbs">
    <div class="container">
     <div class="d-flex justify-content-between align-items-center">
      <h2>
       採用情報
      </h2>
      <!-- 
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li>Dolorum optio tempore voluptas dignissimos cumque fuga qui quibusdam quia reiciendis</li>
          </ol> -->
     </div>
    </div>
   </section>
   <!-- End Blog Section -->
   <!-- ======= Blog Single Section ======= -->
   <section class="blog" id="blog">
    <div class="container" data-aos="fade-up">
     <div class="row">
      <div class="col-lg-12 entries">
       <article class="entry entry-single">
        <h2 class="entry-title" style="text-align:center">
         <strong style="color: #1e4356;margin: auto">
          中途採用
         </strong>
        </h2>
        <!--          <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div> -->
        <div class="entry-content">
         <img alt="" class="img-fluid" src="{% static 'assets/img/blog/blog-1.jpg' %}"/>
         <h3>
          募集職種
         </h3>
         <ul>
          <li>
           【Web・業務アプリケーション・クラウド開発】
          </li>
         </ul>
         <hr/>
         <h3>
          募集条件
         </h3>
         <ul>
          <li>
           JavaやPythonなどによるコーディング経験
          </li>
          <li>
           日本語のコミュニケーション能力が持っている
          </li>
          <li>
           システム連携開発に意欲的に取り組める方
          </li>
          <li>
           ＊歓迎＊
          </li>
          <li>
           製品（salesforce, Mulesoft, DataSpider, AWS, GCPなど）導入実務経験を持っている
          </li>
          <li>
           お客様との折衝経験持っている
          </li>
         </ul>
         <hr/>
         <h5>
          求める人物像
         </h5>
         <ul>
          <li>
           現場が好きで、ご自身で手を動かすことが好きなかた
          </li>
          <li>
           チームで動くことが好きなかた
          </li>
          <li>
           人生を楽しむこと重視で、ライフも仕事も充実させたいかた
          </li>
          <li>
           新しい技術に関心持っている方
          </li>
          <li>
           データ連携、API開発に関心ある方
          </li>
         </ul>
         <hr/>
         <h3>
          勤務地・待遇
         </h3>
         <ul>
          <li>
           勤務地：リモート勤務可、千代田区平河町オフィス利用も可
          </li>
          <li>
           給与：400万〜1000万（能力および経験を考慮の上で決定）
          </li>
          <li>
           研修制度あり（Salesfore、Mulesoft、AWSなど実績あり）
          </li>
          <li>
           社会保険完備（健康保険、厚生年金、雇用保険、労災保険）
          </li>
          <li>
           交通実費支給（上限月３万円）
          </li>
          <li>
           社員紹介制度
          </li>
          <li>
           土日（完全週休2日制）・祝日・年末年始・有給休暇
          </li>
          <li>
           各種社内イベント（忘年会、定期社内懇親会）など
          </li>
         </ul>
         <hr/>
         <h3>
          採用流れ
         </h3>
         <h5>
          １、ご応募及び書類のご提出
         </h5>
         <div>
          ①電話、②Email、③WeChatにて応募受付を行っております。
         </div>
         <div>
          応募を希望される方は以下いずれかの方法で採用担当にご連絡ください。
         </div>
         <div>
          採用担当
         </div>
         <ul>
          <li>
           電話：03-6326-9279
          </li>
          <li>
           Email：recruit@intelligentbrain.co.jp
          </li>
          <li>
           Wechat：alickjing
          </li>
         </ul>
         <h5>
          ２、書類選考合格者に面談
         </h5>
         <div>
          場合による2回面談あり。
         </div>
         <br/>
         <h5>
          ３、結果のお知らせ
         </h5>
         <div>
          採用の可否について書面で通知いたします。
         </div>
        </div>
       </article>
       <!-- End blog entry -->
      </div>
      <!-- End blog entries list -->
     </div>
    </div>
   </section>
   <!-- End Blog Single Section -->
  </main>
  <!-- End #main -->
  {% endblock %}