{% extends 'base_cn.html' %}
{% load static %}
{% block content %}
  <main id="main">
   <!-- ======= 招聘信息部分 ======= -->
   <section class="breadcrumbs">
    <div class="container">
     <div class="d-flex justify-content-between align-items-center">
      <h2>
       招聘信息
      </h2>
     </div>
    </div>
   </section>
   <!-- 招聘信息部分结束 -->
   <!-- ======= 招聘详情部分 ======= -->
   <section class="blog" id="blog">
    <div class="container" data-aos="fade-up">
     <div class="row">
      <div class="col-lg-12 entries">
       <article class="entry entry-single">
        <h2 class="entry-title" style="text-align:center">
         <strong style="color: #1e4356;margin: auto">
          中途招聘
         </strong>
        </h2>
        <div class="entry-content">
         <img alt="" class="img-fluid" src="{% static 'assets/img/blog/blog-1.jpg' %}"/>
         <h3>
          招聘职位
         </h3>
         <ul>
          <li>
           【Web・业务应用程序・云开发】
          </li>
         </ul>
         <hr/>
         <h3>
          招聘条件
         </h3>
         <ul>
          <li>
           具有Java或Python等编程经验
          </li>
          <li>
           具备日语沟通能力
          </li>
          <li>
           对系统联动开发有积极态度
          </li>
          <li>
           ＊欢迎＊
          </li>
          <li>
           具有产品（Salesforce、Mulesoft、DataSpider、AWS、GCP等）导入实际经验
          </li>
          <li>
           具有与客户沟通的经验
          </li>
         </ul>
         <hr/>
         <h5>
          期望的人才
         </h5>
         <ul>
          <li>
           喜欢现场工作，喜欢亲自动手的人
          </li>
          <li>
           喜欢团队合作的人
          </li>
          <li>
           重视生活与工作平衡，希望充实生活和工作的人
          </li>
          <li>
           对新技术感兴趣的人
          </li>
          <li>
           对数据联动、API开发感兴趣的人
          </li>
         </ul>
         <hr/>
         <h3>
          工作地点与待遇
         </h3>
         <ul>
          <li>
           工作地点：可远程办公，也可使用千代田区平河町办公室
          </li>
          <li>
           薪资：400万～1000万日元（根据能力和经验决定）
          </li>
          <li>
           提供培训制度（Salesforce、Mulesoft、AWS等有实际业绩）
          </li>
          <li>
           社会保险完备（健康保险、厚生年金、雇佣保险、劳灾保险）
          </li>
          <li>
           交通费实报实销（每月上限3万日元）
          </li>
          <li>
           员工推荐制度
          </li>
          <li>
           双休日（完全双休制）・节假日・年末年初・带薪休假
          </li>
          <li>
           各种公司内部活动（忘年会、定期公司内部联谊会）等
          </li>
         </ul>
         <hr/>
         <h3>
          招聘流程
         </h3>
         <h5>
          1、申请及提交材料
         </h5>
         <div>
          ①电话、②Email、③WeChat均可接受申请。
         </div>
         <div>
          有意应聘者请通过以下任一方式联系招聘负责人。
         </div>
         <div>
          招聘负责人
         </div>
         <ul>
          <li>
           电话：03-6326-9279
          </li>
          <li>
           Email：recruit@intelligentbrain.co.jp
          </li>
          <li>
           Wechat：alickjing
          </li>
         </ul>
         <h5>
          2、材料筛选通过者进行面试
         </h5>
         <div>
          根据情况可能进行两轮面试。
         </div>
         <br/>
         <h5>
          3、结果通知
         </h5>
         <div>
          将通过书面形式通知录用结果。
         </div>
        </div>
       </article>
       <!-- End blog entry -->
      </div>
      <!-- End blog entries list -->
     </div>
    </div>
   </section>
   <!-- End 招聘详情部分 -->
  </main>
  <!-- End #main -->
  {% endblock %}