{% extends 'base_cn.html' %}
{% load static %}
{% block content %}
  <main id="main">
   <!-- ======= 服务部分 ======= -->
   <section class="breadcrumbs">
    <div class="container">
     <div class="d-flex justify-content-between align-items-center">
      <h2>
       服务
      </h2>
      <ol>
       <li>
        <a href="/cn/">
         首页
        </a>
       </li>
       <li>
        服务
       </li>
      </ol>
     </div>
    </div>
   </section>
   <!-- 服务部分结束 -->
   <!-- ======= 服务内容部分 ======= -->
   <section class="services">
    <div class="container">
     <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up">
       <div class="icon-box icon-box-pink">
        <div class="icon">
         <i class="bx bxl-dribbble">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          产品系统导入与落地
         </a>
        </h4>
        <p class="description">
         通过产品的导入与落地，解决客户面临的经营问题。我们拥有一支经验丰富的专家团队，致力于客户的成功。
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
       <div class="icon-box icon-box-cyan">
        <div class="icon">
         <i class="bx bx-file">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          IT人才培养
         </a>
        </h4>
        <p class="description">
         为了确保人才，我们定期化、制度化地对内外的技术人员进行培训，始终为客户提供优秀的人才。
        </p>
       </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
       <div class="icon-box icon-box-green">
        <div class="icon">
         <i class="bx bx-tachometer">
         </i>
        </div>
        <h4 class="title">
         <a href="">
          系统与软件承包开发
         </a>
        </h4>
        <p class="description">
         从业务分析、系统优化计划等系统咨询，到系统的构建、运营、维护，我们提供全方位的支持。
        </p>
       </div>
      </div>
     </div>
    </div>
   </section>
   <!-- 服务内容部分结束 -->
  </main>
  <!-- End #main -->
  {% endblock %}